body{
    text-align: center;
    padding-top: 7vh;
    background-color: 
    #eeeeee;
}

#logo>img{
width: 6vw;
margin-bottom: 3vh;
}
#container{
    margin: auto;
    background-color: white;
    /* border: 1px solid black; */
    width: 575px;
    padding: 2em;
}

#join-signin{
    display: flex;
    font-family: Verdana, Arial, sans-serif;
}
#join-signin>div{
    margin: auto;
    border-bottom: 1px solid #dbdbdb;
    width: 50%;
    height: 2em;

}
#join-signin>:nth-child(1){
    border-bottom:1px solid blue;
}
#join-signin>div:nth-child(3)>a{
    text-decoration: none;
    color: grey;
}
#three-icons{
    display: flex;
    margin: auto;
    margin: auto;
    /* border: 1px solid black; */
}
#three-icons>div{
    display: flex;
    margin: auto;
    border: 2px solid #dbdbdb;
    color: grey;
    font-size: 75%;
    gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .50em;
    width: 12em;
    justify-content: center;
}
#three-icons>div>img{
    /* margin: auto; */
    width: 20px;
    height: 20px;
    margin-top: 5px;
}#sign-up-with>h3{
    padding: 2em;
}
#sign-up-with>p{
    font-family:futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-size: 75%;
    padding: 1em;
    color: #888888;
}

#signup-with-email>form{
    text-align: left;
    padding-left: 5em;
    padding-right: 3em;
    line-height: 0.75;
}

#signup-with-email>form>h3{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}
#signup-with-email>form>h4{
    color: #767676;
}
#signup-with-email>form>input{
    padding: 1.25em;
    width: 100%;
}
#signup-with-email>form>p{
    color: #767676;
}
#dob{
    text-align: center;
    text-align: center;

}
#dob>select{
    padding: 1em;
    margin-left: 1.5em;
}
#dob>select:nth-child(2){
    width: 10em;
}
#checkboxes{
    display: flex;
}
#checkboxes>div:nth-child(1){
    margin-right: 4em;
}
#checkboxes>div>input{
    width: 1.80em;
    height: 1.80em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 7.6px solid #ffffff;
    appearance: none;
    -webkit-appearance: none;
    outline: 1px solid #767676;
    cursor: pointer;

}
#checkboxes>div>input:checked{
    background-color: black;
}
#checkboxes>div>label{
    font-size: 1.1em;
}

#consent-div>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
#consent-div>div>button{
    height: 2.5em;
    border: none;
    background-color: #eeeeee;
}
#consent{
    height: 2em;
    width: 2em;
    cursor: pointer;
    margin-left: 18em;
}

#TandC{
    display: flex;
    color: grey;

}
#TandC>div{
    margin: auto;
}
#TandC>div>a{
    color: gray;
}

#join-button{
    margin-top: 2em;
    width: 70%;
    height: 3.5em;
    border: none;
    background-color: #2d2d2d;
    color: white;
    font-weight: bolder;
    font-size: 1.10em;
    /* vertical-align: middle; */
    
}
#join-button:hover{
    background-color: #767676;
    cursor: pointer;
}
